
.mainDiv{
    background-color: #000 !important;
    padding: 50px 0;
}
.mainDiv {
    background-color: #000 !important;
    padding: 40px 0;
    width: 100%;
}
.Flex-D{
    width: 100%;
    display: flex;
}
hr.line {
    border: 1px solid #ff8900;
}
.img-text ul {
    list-style: none;
}
.img-text ul li {
    float: left;
}
.img-text ul li a {
    text-decoration: none;
    color: #fff;
    padding: 16px;
    font-size: 14px;
    font-size: 14px;font-family: "Playfair Display", serif;

}
.img-home ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    font-family: "Playfair Display", serif;
}
.img-home h2 {
    font-size: 25px;
    margin-top: 10px;
    font-weight: 500;
    font-family: "Playfair Display", serif;
}
.img p {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    font-family: "Playfair Display", serif;

}
.img {
    text-align: center;
    margin-top: 25px;
}
.img-home ul li {
    list-style: none;
    padding: 12px;
    float: left;
}
.Rights {
    text-align: center;
    background-color: #000;
    padding: 10px;
    border: 1px solid #ffffff1c;
}

.Rights h4 {
    font-size: 16px;
    color: #fff;
    font-weight: 500;
    font-family: 'Playfair Display';
}
/* --------------------------home start css-------------------------- */

.carousel-caption {
    bottom: 5.25rem !important;
}

.carousel-caption h3 {
    font-size: 40px;
    color: #ffff;
    font-weight: bold;
    font-family: "Playfair Display", serif;
}

.carousel-caption p {
    color: #f4f4f4;
    font-weight: 400;
    font-size: 14px;
    font-family: "Playfair Display", serif;

}

button.btn.btn-primary  {
    background-color: transparent;
    border-color: #0f0e0c;
    font-size: 16px;
    font-weight: 500;
    padding: 7px 20px 7px 20px !important;
    font-family: 'Playfair Display';
    
}
button.btn.btn-primary:hover {
    border-color: #0f0e0c !important;
}

.section-2 {
    background-color: #000000;
    padding: 56px;
}

.shoping {
    padding: 5rem;
    text-align: center;
    margin-top: 2rem;
}

.shoping h3 {
    color: #fff;
    font-size: 42px;
    font-weight: 400;
    font-family: "Playfair Display", serif;
}

.shoping p {
    color: #fff;
    margin-top: 20px;
    font-family: "Playfair Display", serif;
}
.shoping-img {
    display: table;
    margin: 0 auto;
}

p.p-1 {
    margin-top: 4rem;
}

.section-3 {
    padding: 50px 0;
    background-color: #0f0e0c;
}

.section-4 {
    padding: 60px 0;
    background-color: #0f0e0c;
}

.world h2 {
    color: #fff;
    font-size: 35px;
    font-weight: 400;
    font-family: "Playfair Display", serif;
}

.card-1 {
    padding-top: 6rem;
}

.card-1 h4 {
    color: #fff;
    margin-top: 20px;
    font-size: 25px;
    font-weight: 400;
    font-family: "Playfair Display", serif;
}

.card-1 p {
    font-size: 13px;
    color: #ffffff5c;
    font-weight: 400;
    margin-top: 18px;
    font-family: "Playfair Display", serif;
}

/* ____________________________buy___________________________________ */

.Price {
    width: 100%;
    display: flex;
}

.Sec-1 {
    padding-top: 5rem;
}
.Sec-1 .row {
    align-items: center;
}

.NINGALA img {
    width: 100%;
    padding: 35px;
    display: table;
    margin: 0 auto;
}

section.Sec-1 {
    width: 100%;
    float: left;
    margin-top: 5rem;
}
.NING h2 {
    font-size: 30px;
    color: #2a3986;
    font-weight: 700;
}

.NING p {
    color: #000;
    font-weight: 500;
    font-size: 13px;
}

.NING h4 {
    font-size: 21px;
}

.NING h5 {
    font-size: 14px;
    font-weight: 700;
    color: #2a3986;
}
/* -------------------------buy------------------------------------- */

.Form-react {
    display: table;
    margin: 0 auto;
    width: 36%;
    border: 2px solid #ddd;
    margin-top: 7rem;
    margin-bottom: 2rem;
    padding: 24px;
    border-radius: 15px;
}
.Form-react label.form-label {
    color: #000;
    font-weight: 600;
}

.Form-react input#formBasicEmail {
    color: #030303 !important;
}

button.btn.btn-primary {
    padding: 7px 30px 8px 30px;
}

button.btn.btn-primary:hover {
    background-color: #000;
}
.form-check input#formBasicCheckbox {
     border-color: #000;
    /* background-color: #000; */
}

