
nav.navbar img {
    width: 18% !important;
    padding: 8px 0px;
}
.navbar-collapse {
    flex-grow: 0 !important;
 }
 nav.navbar {
        width: 100% !important;
        position: fixed;
        z-index: 999;
    }
    ul.Ul-main {
        width: 100%;
        display: flex;
        align-items: center;
        margin: 0px;
    }
    
    .Ul-main li.nav-item {
        float: left;
        list-style: none;
        text-decoration: none;
        padding-left: 26px;
    }
    
    .Ul-main li.nav-item a {
        color: #000;
        text-decoration: none;
        font-size: 16px;
        font-weight: 500;
    }
    @media only screen and (max-width: 767px){
        nav.navbar img {
            width: 55% !important;
            padding: 8px 0px;
        }
        nav.navbar{
            width: 100%;
        }
        ul.Ul-main {
            display: block;
        }
        .Ul-main li.nav-item {
            float: none;
            margin-top: 5px;
        }
    }