
nav.navbar img {
    width: 12% !important;
   
}
.navbar-collapse {
    flex-grow: 0 !important;
 }
 nav.navbar {
        width: 100% !important;
        position: fixed;
        z-index: 999;
        background-color: #0f0e0c!important;
    }
    ul.Ul-main {
        width: 100%;
        display: flex;
        align-items: center;
        margin: 0px;
    }
    
    .Ul-main li.nav-item {
        float: left;
        list-style: none;
        text-decoration: none;
        padding-left: 26px;
    }
    
    .Ul-main li.nav-item a {
        color: #fff;
        text-decoration: none;
        font-size: 16px;
        font-weight: 500;
        font-family: "Open Sans", sans-serif;
        text-transform: capitalize;
    }
    @media only screen and (max-width: 767px){
        nav.navbar img {
            width: 39% !important;
        }
        nav.navbar{
            width: 100%;
        }
        ul.Ul-main {
            display: block;
        }
        .Ul-main li.nav-item {
            float: none;
            margin-top: 5px;
            padding: 5px
        }

        .carousel-caption  p {
            max-width: 346px !important;
            font-size: 16px;
            float: left;
            margin-top: 18px 
        }
        button.button {
            margin-top: 11px;
        }
        .carousel-caption h3 {
            font-size: 35px !important;
        }
        .carousel-caption {
            top: 12rem !important; 
        }

        .shoping {
             padding: 0rem !important;  
        }
        .section-2 {
        padding: 0px !important;
        }

        .image-1 img {
            width: 100%;
            margin-top: 25px;
        }
        .image-2 img {
            width: 100%;
          
        }
        .image-3 img {
            width: 100%;
            margin-top: 25px;
        }
        .section-3 {
            padding: 30px 0;
        }

        .card-1 {
            width: 100% !important;
            text-align: center;
            padding: 14px;
        }
        .world h2 {
            text-align: center;
        }
    }